/* GENERAL */

body {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5,h6{
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
}
section{
    padding: 65px 0 80px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 40px;
}
.divider{
    width: 100px;
    height: 2px;
    background-color: black;
    margin: 0 auto 20px;
}
.divider.white{
    background-color: white;
}
section .heading h2{
    text-transform: uppercase;
    padding-bottom: 40px;
}


ul{
    list-style: none;
}


/* NAVBAR */
.navbar {
    background-color: #333333;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.navbar-nav {
    margin: 0 auto;
    text-align: center;
}
.nav-link {
    color: white !important;
    margin: 0 15px;
    border-radius: 15px;
}
.nav-link.active,
.nav-link:hover {
    background-color: white;
    color: dimgray !important;
}


/* ABOUT To be continued */
#about{
    background: radial-gradient(#333333, darkslategray) ;
}
.profile-picture{
    text-align: center;
    margin: 0 auto 30px;
}

#about .heading h1,
#about .heading h3 {
    color: #e9ecef;
    margin-bottom: 20px;
}
#about .heading a{
    color: #e9ecef;
}

/* SKILLS */
#skills{
    background-color: aliceblue;
}
#skills h2,
#skills h3{
    color: black;
}

#skills .progress{
    height: 45px;
    margin: 30px 20px;
}
#skills .progress:last-child{
    margin-bottom: 0;
}

#skills .progress-bar{
    background-color: darkslategray;
}
#skills .progress-bar h5{
    text-shadow: 1px 1px 1px black;
    margin-bottom: 3px;
}


/* EXPERIENCE */
#experience{
    background: linear-gradient(to left, #333333, darkslategray) ;
}
#experience .heading h2{
    color: white;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline:before{
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 2px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after{
    content: " ";
    display: table;
}
.timeline > li:after{
   clear: both;
}
.timeline li .timeline-badge {
    color: darkslategray;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}
.timeline-panel:after {
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
.timeline-heading h4 {
    color: darkslategray;
}

/* EDUCATION */

#education{
    background-color: azure;
}
#education .heading{
    //color: red;
    margin: 15px 0;
}

.education-block {
    width:90%;
    text-align: center;
    padding: 30px;
    background: #e9ecef;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto 20px;
}
.education-block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block span {
    font-size: 35px;
}
.education-block h3 {
    color:  #63003C;
    margin: 15px 0;
}
.education-block h4 {
    margin-bottom: 20px;
    font-weight: normal;
}

/* PORTFOLIO */
#portfolio{
    background: linear-gradient(to left, #333333, darkslategray) ;
}

#portfolio .heading h2 {
    color: white;
}
#portfolio .divider{
    background-color: white;
}
#portfolio img {
    width: 80%;
    height: 80%;
    /*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);*/
}
#portfolio img:hover {
    filter: none;
    -webkit-filter: none;
}
#portfolio .col-md-4 {
    margin-bottom: 20px;
}

/* RECOMMENDATIONS */


/* FOOTER */
footer {
    background-color: #333;
    padding: 20px 0 40px;
}
footer span {
    color: darkgreen;
    font-size: 25px;
    line-height: 35px;
}
footer span:hover {
    font-size: 27px;
}
footer h5 {
    color: white;
    font-weight: normal;
}

.progress-bar{
    height:50px;
}

.progress-bar span{
    font-weight: normal;
    font-size: 15px;
}

/* Contact */
#contact {
    font-family: 'Lato', sans-serif;
    margin: 70px 0;
    background: linear-gradient(to left, #333333, darkslategray) ;
}
.divider {
    width:100px;
    height: 2px;
    background: #ffa500;
    margin: 0 auto 20px;
}
.heading {
    text-align: center;
    padding-bottom: 40px;
}
h2 {
    text-transform: uppercase;
    font-weight:bold;
    color: #fff;
}
#contact-form {
    font-size: 20px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}
.blue {
    color: #0069d6;
}
.form-control {
    height: 50px;
    font-size: 18px;
}
#contact-form input[type=submit] {
    margin: 40px auto 0px;
    display: block;
}
.comments {
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px
}
#contact-form .thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
.button1 {
    border: 1px solid #ddd;
    background: #ffa500;
    color: #fff;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover {
    background: #333;
    border-color: #ffa500;
}























