/* GENERAL */

body {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5,h6{
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
}
section{
    padding: 65px 0 80px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 40px;
}
.divider{
    width: 100px;
    height: 2px;
    background-color: chocolate;
    margin: 0 auto 20px;
}
.divider.white{
    background-color: blueviolet;
}
section .heading h2{
    text-transform: uppercase;
    padding-bottom: 40px;
}

ul{
    list-style: none;
}


/* ABOUT */
#about{
    background-color: beige;
}
.profile-picture{
    text-align: center;
    margin: 0 auto 30px;
}

#about .heading h1{
    /*color: blueviolet;*/
    text-transform: uppercase;
    margin-bottom: 20px;
}
#about .heading h3{

}

/* SKILLS */

#skills .progress{
    height: 45px;
    margin: 30px 20px;
}
#skills .progress:last-child{
    margin-bottom: 0;
}

#skills .progress-bar{
    background-color: blueviolet;
}
#skills .progress-bar h5{
    text-shadow: 1px 1px 1px black;
    margin-bottom: 3px;
}


/* EXPERIENCE */
#experience{
    background-color: beige;
}
#experience .heading h2{
    color: blueviolet;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline:before{
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 2px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after{
    content: " ";
    display: table;
}
.timeline > li:after{
   clear: both;
}
.timeline li .timeline-badge {
    color: blueviolet;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}
.timeline-panel:after {
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
.timeline-heading h4 {
    color: blueviolet;
}


























